/* Reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* Body */
body {
  background-color: #212121;
}
/* Wrapper */
.wrapper {
  padding: 15%;
}
/* Branding */
.branding {
  position: relative;
}
.logo {
  position: relative;
  z-index: 2;
  width: 63px;
  height: 48px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.seal {
  position: absolute;
  top: -8px;
  left: 20px;
  z-index: 1;
  width: 160px;
  height: 160px;
  background-image: url('../images/seal.png');
  background-repeat: no-repeat;
  background-size: contain;
}
/* Typography */
.contact {
  position: relative;
  z-index: 2;
  margin-top: 70px;
}
a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  line-height: 1.35rem;
  color: white;
  text-decoration: none;
}
a:first-of-type {
  margin-bottom: 2rem;
}
a:active {
  color: #e1e1e1;
}

/* Keyframes + Animations */
@-webkit-keyframes anim-m {
	0% { opacity: 0; transform: translateY(15px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@-moz-keyframes anim-m {
	0% { opacity: 0; transform: translateY(15px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@-o-keyframes anim-m {
	0% { opacity: 0; transform: translateY(15px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes anim-m {
	0% { opacity: 0; transform: translateY(15px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@-webkit-keyframes anim-s {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes anim-s {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes anim-s {
	0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes anim-s {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.anim-m {
  -webkit-animation: anim-m 0.75s cubic-bezier(0.45, 0.25, 0.25, 1) both;
  -moz-animation: anim-m 0.75s cubic-bezier(0.45, 0.25, 0.25, 1) both;
  -o-animation: anim-m 0.75s cubic-bezier(0.45, 0.25, 0.25, 1) both;
  animation: anim-m 0.75s cubic-bezier(0.45, 0.25, 0.25, 1) both;
}
.anim-s {
  -webkit-animation: anim-s 1.5s ease-in-out both;
  -moz-animation: anim-s 1.5s ease-in-out both;
  -o-animation: anim-s 1.5s ease-in-out both;
  animation: anim-s 1.5s ease-in-out both;
}
.delay-l {
  -webkit-animation-delay: 3.65s;
  animation-delay: 3.65s;
}
.delay-c {
  -webkit-animation-delay: 3.80s;
  animation-delay: 3.80s;
}
.delay-s {
  -webkit-animation-delay: 4.15s;
  animation-delay: 4.15s;
}

/* Tablet Styling */
@media screen and (min-width: 675px) {
  /* Wrapper */
  .wrapper {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 350px;
    height: 335px;
    margin: auto;
    padding: 0;
  }
  /* Branding */
  .logo {
    width: 94.5px;
    height: 72px;
    background-image: url('../images/logo@3x.png');
  }
  .seal {
    top: -10px;
    left: 27px;
    width: 240px;
    height: 240px;
    background-image: url('../images/seal@3x.png');
  }
  /* Typography */
  .contact {
    margin-top: 120px;
  }
  a {
    font-size: 1.10rem;
    letter-spacing: 0.06rem;
    line-height: 1.75rem;
    -webkit-transition: color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out;
    -o-transition: color 0.15s ease-out;
    transition: color 0.15s ease-out;
  }
  a:first-of-type {
    margin-bottom: 2.10rem;
  }
  a:hover {
    color: #e1e1e1;
  }
}
