/* Reset - - - - - - - - - */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* Body - - - - - - - - - */
body {
  background-color: #212121;
}
/* Wrapper - - - - - - - - - */
.wrapper {
  padding: 15%;
}
/* Branding - - - - - - - - - - */
.branding {
  position: relative;
}
.logo {
  position: relative;
  z-index: 2;
  width: 63px;
  height: 48px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.seal {
  position: absolute;
  top: -8px;
  left: 20px;
  z-index: 1;
  width: 160px;
  height: 160px;
  background-image: url('../images/seal.png');
  background-repeat: no-repeat;
  background-size: contain;
}
/* Typography */
.contact {
  position: relative;
  z-index: 2;
  margin-top: 70px;
}
a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  line-height: 1.35rem;
  color: white;
  text-decoration: none;
}
a:first-of-type {
  margin-bottom: 2rem;
}
